* {
  box-sizing: border-box;
}

body {
    background: #202020;
}

.page {
  min-height: 100vh;
  max-height: fit-content;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background: #202020;
  color: white;
}
