.main__heading {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -0.04em;
  margin: 0;
}

.main__block-description {
  color: #FFFFFF;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

.main__text {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.04em;
  margin: 0;
}

.main__text-subtitle {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin: 0;
}