.header__link {
  border-radius: 3px;
  display: inline-block;
  color: #FFFFFF;
  padding: 8px 20px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  cursor: pointer;
  transition: opacity 0.4s;
}

.header__link:hover{
  opacity: 0.6;
}

.header__link_calltoaction {
  background-color: #3DDC84;
  color: #000000;
}

.header__nav-movies {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__link-movies {
  border-radius: 3px;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 10px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.4s;
}

.header__link-movies:hover{
  opacity: 0.6;
}


.header__link-profile {
  color: #FFFFFF;
  border-radius: 20px;
  background: #313131;
  padding: 9px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.4s;
}

.header__link-profile:hover{
  opacity: 0.6;
}

.header__link-movies_active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}
