.movies-list {
  padding: 80px auto 0;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-gap: 32px 28px;
}

@media screen and (max-width: 320px) {
  .movies-list {
    padding: 45px 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 0;
  }
}

.movies-list__error {
  text-align: center;
  font-size: 22px;
}