.portfolio {
  margin: 0 70px 125px;
}

.portfolio__title {
  color: #8B8B8B;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin: 25px 0;
}

.portfolio__links {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 29px;
  grid-template-rows: 1fr 1px 1fr 1px 1fr;
  align-items: stretch;
}

.portfolio__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  padding: 20px 0;

  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.4s;
}

.portfolio__link:hover {
  opacity: 0.6;
}


.portfolio__line {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #424242;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin: 0 50px 50px;
  }
}