.movie {
  background-color: #222222;
  width: 360px;
  height: 319px;
  display: grid;
  grid-template-rows: 54px 200px 65px;
  grid-template-areas:
    "title duration"
    "link link"
    "saved saved";
}

.movie__trailer-link {
  grid-area: link;
}

.movie__pic {
  grid-area: pic;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movie__title {
  align-self: center;
  justify-self: left;
  margin: 0 0 0 18px;
  grid-area: title;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.movie__duration {
  align-self: center;
  justify-self: right;
  grid-area: duration;
  margin: 0 18px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  text-align: right;

  color: #8b8b8b;
}

.movie__button {
  cursor: pointer;
  grid-area: saved;
  justify-self: center;
  align-self: center;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background: #313131;

  width: 100px;
  height: 29px;
  padding: 9px 15px;
  overflow: hidden;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  text-decoration: none;
  transition: opacity 0.4s;
}

.movie__delete-button {
  cursor: pointer;
  grid-area: saved;
  justify-self: center;
  align-self: center;
  color: transparent;
  border: none;
  border-radius: 20px;
  background: #313131;

  width: 100px;
  height: 29px;
  padding: 9px 15px;
  overflow: hidden;
  transition: opacity 0.4s;

  background-image: url(../../../images/delete-button.svg);
}

.movie__delete-button:hover {
  opacity: 0.6;
}

.movie__button_pressed {
  background-image: url(../../../images/save-button_checked.svg);
  color: transparent;
}

.movie__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .movie {
    width: 300px;
    grid-template-rows: 46px 168px 57px;
    height: fit-content;
    margin-bottom: 16px;
  }

  .movie__title {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0 0 15px;
  }

  .movie__duration {
    font-size: 10px;
    line-height: 18px;
    margin: 10px 10px 0 0;
  }

  .movie__pic {
    height: 168px;
  }

}
