.search {
  margin: 80px 70px 0;
  border-bottom: 1px solid #424242;
}

.search__form {
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  visibility: visible;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 28px;
}

.search__input {
  width: calc(100% - 54px);
  height: 50px;
  background-color: #2F2F2F;
  border-radius: 8px;
  border: none;
  padding-left: 20px;
}

.search__submit-button {
  border: none;
  background: transparent;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  background-image: url(../../../images/search-button.svg);
  transition: opacity 0.4s;
  cursor: pointer;
  align-self: normal;
}

.search__submit-button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 768px) {
  .search {
    margin: 80px 30px 0;
  }

  .search__form {
    padding-bottom: 40px;
  }
}


@media screen and (max-width: 320px) {
  .search {
    margin: 80px 14px 0;
  }

  .search__input {
    height: 44px;
  }

  .search__form {
    padding-bottom: 45px;
  }
}
