.login {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 70px auto;
}

.form__redirect-login {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .login {
    margin: 232px auto 0;
  }
}