.notfound {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  text-align: center;
}

.notfound__title {
  margin: 246px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;

  color: #ffffff;
}

.notfound__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.notfound__link {
  padding: 0;
  margin: 184px 0 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #4285f4;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .notfound__title {
    margin: 410px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .notfound__title {
    margin: 320px 0 0;
    font-size: 80px;
    line-height: 97px;
  }

  .notfound__text {
    font-size: 12px;
    line-height: 15px;
  }

  .notfound__link {
    font-size: 12px;
    line-height: 15px;
    margin: 284px 0 30px;
  }
}
